PORT=3000
NODE_ENV=development
ADMIN_PASSWORD=CHANGE_THIS_TO_A_LONG_RANDOM_PASSWORD
SESSION_SECRET=CHANGE_THIS_TO_A_LONG_RANDOM_SECRET

BASE_URL=https://YOUR-DOMAIN.COM
GEIDEA_MERCHANT_PUBLIC_KEY=
GEIDEA_API_PASSWORD=

DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_REDIRECT_URI=https://YOUR-DOMAIN.COM/auth/discord/callback
